<h1>DateTimes</h1>
<p>Date型はどうしてますか？</p>

<p>Date型？　moment?</p>
<ul>
  <li>
    <p>Date型</p>
    <a href="https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Date">link</a>
  </li>
  <li>
    <p>moment</p>
    <a href="https://momentjs.com/"></a>
  </li>
</ul>

<p>比較 {{ targetDate }} {{ comparisonDate }}</p>
<ul>
  <li>
    <p>=== の比較</p>
    <p>Date: {{ targetDate === comparisonDate }}</p>
    <p>moment: {{ doComparisionByMoment(targetDate, comparisonDate) }}</p>
  </li>
  <li>
    <p>それぞれの数字で比較？</p>
    <p>{{ doComparisionByNumber(targetDate, comparisonDate) }}</p>
  </li>
  <li>
    <p>引き算で０になったか見る？</p>
    <p>{{ targetDate - comparisonDate }}</p>
  </li>
  <li>
    <p>moment isSame</p>
    <p>{{ doComparisionByMomentIsSame(targetDate, comparisonDate) }}</p>
  </li>
</ul>


